.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: #98413e !important;
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color) !important;
    background-color: #d9534f !important;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #d9534f !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

section{
    background-color: white;
    width: 65%;
    height: 83%;
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgba(67,89,113,.12);
    position: relative;
    flex-direction: column;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid #d9dee3;
    border-radius: .5rem;
}

article {
    width: 80%;

}

.charge-cash-table tr{
    height: 50px;
}

.charge-cash-table tr td{
    width: 200px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.inquiry-range form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inquiry-range form div{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #d9534f !important;
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: #ff2a22 !important;
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: #ff2a22 !important;
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem #ff2a22;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #d9534f !important;
    --bs-pagination-active-border-color: #d9534f !important;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
}